@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #3a444e;
    color: #fff;
    overflow: hidden;
}

.container {
    width: 450px;
    padding: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.graphic {
    fill: transparent;
    stroke-width: 4px;
    stroke: #fff;
    width: 50%;
    margin-right: 20px;
}

.item {
    display: none;
}

.wrong-letters {
    width: 50%;
    height: 100%;
}

.word {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.first-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.letter {
    border-bottom: 3px solid #0eda88;
    margin-right: 10px;
    font-size: 30px;
    height: 40px;
    width: 25px;
    text-align: center;
}

.wrong-letters h3 {
    margin-top: 50px;
}

#popup-container {
    /* display: flex; */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 200px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.5);
}

.popup button {
    border: none;
    padding: 10px;
    background-color: #0eda88;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#message {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;
}

#message.show {
    transform: translateY(-180px);
}